version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: cloud_saas_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: cloud_saas_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
